*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}
body{
    background:linear-gradient(
        145deg,
        rgb(217,212,168) 26%,
        rgb(74,95,103) 74%);
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    max-width:1300px;
    margin:0 auto;
}
.back{
    padding:30px 0;
    background-color:#283d3e;
}
.menu{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
}
.logo{
    font-size: 30px;
    color:#d9d4a8;
    font-weight:500;
    text-transform:capitalize;
}
.menu .navbar ul li{
    position:relative;
    float:left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color:#d15c57;
    display:block;

}
.menu .navbar ul li a:hover{
    color:#283d3e;
    transition:color 1s;
    background-color:#cc3747;
    transition:background-color 1s;
    border-radius:15px;
}
#menu{
    display:none;
}
.menu-icono{
    width:50px;
    height:35px;
}
.menu label{
    cursor:pointer;
    display:none;
}

@media(max-width:600px){
    .menu{
        padding:30px;
    }
    .menu label{
        display:initial;
    }
    .back{
        padding: 40px 0;
    }
    .menu .navbar{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        background-color: rgb(38, 65, 90);
        display:none;
    }
    .menu .navbar ul li{
        width:100%;
    }
    #menu:checked ~ .navbar{
        display:initial;
    }
}
#sobre{
    text-align:center;
    padding-top: 20px;
}
#porta{
    text-align: center;
}

.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
img{
    width: 250px;
    height: 300px;
    padding-inline-start: 20px;
    border-radius: 50%;
    transition: all 0.5s linear;
}
img:hover{
    filter:grayscale(60%);
    transform: scale(0.8);
}
p{
    padding:10px;
    color:white;
    font-weight:bold;
}

footer{
    background-color:#5c374b;
}
#piecontenedor{
    width:100%;
    padding:10px 30px 10px;
}
.iconos{
    display:flex;
    justify-content: center;
}
.iconos a{
    text-decoration: none;
    padding:10px;
    background-color:#4a5f67;
    margin:10px;
    border-radius: 50%;
}
.iconos a i{
    font-size: 20px;
    color: black;
}
.iconos a:hover{
    background-color:black;
    transition: 0.5s;
}
.iconos a:hover i{
    color: white;
    transition: 0.5s;
}
.info{
    display: flex;
    justify-content: center;

}
.licencia{
    text-align: center;
}